body {
  background-color: rgb(161, 106, 161);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.board {
  margin-top: 5px;
  background-color: rgb(161, 106, 161);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-row {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.square {
  margin: 1px;
  background-color: rgb(161, 106, 161);
  border: 1px solid rgb(161, 106, 161);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 34px;
  min-width: 34px;
  max-height: 50px;
  max-width: 50px;
  font-size: 50px;
  width: calc((100vw - 27px) / 12);
  height: calc((100vw - 27px) / 12);  
}

.letter {
  border: 1px solid blueviolet;
  border-radius: 3px;
  background-color: #90DBDC;
}

.pool {
  height: calc((100vw - 27px) / 1.5);
  width: calc((100vw - 27px) / 1.5);
  max-height: 300px;
  max-width: 300px;
  min-height: 235px;
  min-width: 235px;
  background-color: plum;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pool-row {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.pool-letter {
  transition: all .2s ease-in;
  margin: 5px 5px 5px 5px;
  width: calc((100vw - 27px) / 7);
  height: calc((100vw - 27px) / 7);
  /* max-width: 95px;
  max-height: 95px; */
  max-height: 70px;
  max-width: 70px;
  min-width: 55px;
  min-height: 55px;
  background-color: pink;
  border-radius: 50%;
  display: flex;
  align-items: center;
  font-size: 50px;
  justify-content: center;
  cursor: pointer;
}

.pool-letter:only-child {
    margin-top: -32px;
    margin-bottom: -32px;
}

.current-word {
  display: flex;
  justify-content: center;
  height: 50px;
  min-width: 235px;
  font-size: 50px;
  margin: 10px;
  border-radius: 5px;
  background-color: plum;
  padding: 5px;
}

.selected {
  background: purple;
}

.square-reveal {
  transition: all .3s ease-in;
  background-color: rgb(0, 184, 184);
  color: white;
}

.square-correct {
  transition: all .2s ease-in;
  color: blueviolet;
  background-color: rgb(169, 254, 255);
}

.correct {
  transition: all .2s ease-in;
  color: cyan;
}

.incorrect {
  transition: all .2s ease-in;
  color: rgb(255, 60, 0);
}

.pool-button {
  transition: all .2s ease-in;
  margin: 20px 0px 0px 0px;
  display: inline-block;
  width: 300px;
  height: 100px;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  border: none;
  color: #fff;
  background-color: hotpink;
}

.clicked {
  transition: all .2s ease-in;
  background-color: rgb(177, 68, 123);
}

:focus {
  outline: none;
}

@media only screen and (max-width: 400px) {
  .square {
    font-size: 10vw;
  }
}

@media only screen and (min-width: 401px) {
  .square {
    font-size: 30px;
  }
}