body {
  background-color: darkred;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  min-width: 158px;
  max-height: 600px;
  min-height: 158px;
}

.grid-row {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.square {
  background-color: olive;
  border: 1px solid olive;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-height: 48px;
  max-width: 48px;
  min-height: 14.25px;
  min-width: 14.25px;
  width: calc((100vw - 27px) / 12);
  height: calc((100vw - 27px) / 12);  
}

.letter {
  border: 1px solid blueviolet;
  border-radius: 3px;
  background-color: darkcyan;
}

.pool {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pool-row {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.pool-letter {
  margin: 5px 5px 5px 5px;
}